@charset "utf-8";
/* CSS Document */

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  line-height: 1.5;
  background-color: #f3f3f3;
  margin: 0;
  position: relative;
}

html, body {
  height: 100%;
}

:focus {
  outline: 2px dashed red;
}

a {
  color: #ffffff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #5297d2;
  text-decoration: none;
}

a img, a picture {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.250em;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -4.063rem;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #e0e0e0;
  font-size: 0.66em;
  letter-spacing: 1px;
  padding: 1.563rem;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
  display: table;
  width: 100%;
  height: 4em;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

#breadcrumb-nav {
  height: auto;
  text-align: left;
}

#breadcrumb {
  padding: 0.625em 3% 1em;
  list-style: none;
  background-color: #eee;
  font-size: 1.05em;
  margin: 0;
}

/* Display list items side by side */

#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
  padding: 0.5em;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
  color: #00549c;
  text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 25.000em;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
  width: 100%;
  background-color: #00549c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-options h2 {
  color: white;
  font-size: 1em;
  font-weight: normal;
  line-height: 1;
  margin: 0 1.250em;
  padding-top: 0.85em;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 0.92em;
  height: 2.5em;
  letter-spacing: 0;
  margin: 0.625em;
  padding: 0 0.625em;
  width: calc(100% - 1.25em);
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 1em 0 5em 0;
  text-align: center;
}

.no-restaurants {
  text-align: center;
  margin: 3em 3em 1em;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  border-top-left-radius: 1.250em;
  border-bottom-right-radius: 1.250em;
  margin: 3%;
  padding: 1em 3%;
  text-align: left;
  max-width: 100%;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  border-radius: 1.250em;
}

#restaurants-list li h2 {
  color: #00549c;
  font-size: 1.17em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1.250em 0 0.625em;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 0.92em;
}

#restaurants-list li a {
  background-color: #00549c;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 0.83em;
  margin: 0.938em 0 0;
  padding: 0.700em 1.875em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */

/* .inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
} */

/* .inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
} */

/* .inside #footer {
  bottom: 0;
  position: absolute;
  width: 50%;
} */

#restaurant-name {
  color: #00549c;
  font-size: 1.67em;
  font-weight: 300;
  letter-spacing: 0;
  margin: 0.938em 0 1.875em;
  text-transform: uppercase;
  line-height: 1.1;
}

.restaurant-img {
  width: 100%;
  border-top-left-radius: 1.250em;
  border-bottom-right-radius: 1.250em;
}

#restaurant-address {
  font-size: 1.2em;
  margin: 1.3em 0 2em;
}

#restaurant-cuisine {
  background-color: #00549c;
  color: #ddd;
  font-size: 1em;
  letter-spacing: 0.625em;
  margin: 0;
  padding: 0.7em;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2%;
}

#restaurant-container,
#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  /* border-top: 1px solid #fff; */
  padding: 2em 3%;
  /* width: 50%; */
}

#reviews-container h2 {
  color: #00549c;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: -0.063em;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 1.875em;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 1.250em;
  border-bottom-right-radius: 1.250em;
}

#reviews-list li p {
  margin: 0 0 0.625em;
}

.review-header {
  color: #ffffff;
  background-color: #333333;
  padding: 1em 1.5em;
}

.review-date {
  float: right;
  color: #dadada;
  font-size: 0.9em;
}

.review-rating {
  color: #ffffff;
  font-size: 0.9em;
  background-color: #00549c;
  margin: 0.8em 1.5em;
  padding: 0.3em 0.9em;
  display: inline-block;
  border-radius: 0.3em;
  text-transform: uppercase;
}

.review-text {
  padding: 0.5em 1.5em 1.5em;
}

#restaurant-hours td {
  color: #666;
  padding: 0.4em;
}

/* Mobile first media queries */

@media (min-width: 27.813em) {
  .filter-options select {
    width: 12.5em;
  }
}

@media (min-width: 30em) {
  nav {
    height: 5em;
  }
  
  nav h1 a {
    font-size: 0.9em;
    letter-spacing: 0.55em;
  }
}

@media (min-width: 42.5em) {
  nav h1 a {
    font-size: 1.17em;
    letter-spacing: 0.625em;
  }

  #restaurants-list { 
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 46em) {
  #restaurant-container {
    grid-template-columns: 55% 1fr;
  }
}

@media (min-width: 70em) {
  #restaurants-list { 
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 200em) {
  body {
    font-size: 1.6em;
  }
}

@media (min-width: 250em) {
  body {
    font-size: 2em;
  }
}